################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/ZADANIE/v17/ipch/AutoPCH/ddffa8a8db3b7723
