################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/ZADANIE/v17/ipch/AutoPCH/ddffa8a8db3b7723
/.vs/ZADANIE/v17/ipch/AutoPCH/e2d43a55c04cabf0
/.vs/ZADANIE/v17/ipch/AutoPCH/2ead27e6df62477
/.vs/ZADANIE/v17/ipch/AutoPCH/26c9180b8d6580ea
/ConsoleApplication1/Debug
/.vs
